{% extends 'base.html' %}
{% load static %}
{% load humanize %}

    {% block content %}

      <div class="container py-5">


        <div class="row">

          

          <div class="col-lg-12">
            <div class="card mb-4" id="tables">
              <div class="card-header text-center">Orders</div>
              <div class="card-body">
                <table class="table table-hover">
                  
                  </thead>
                  <tbody>

                    <p style="background-color: green;color:white; font-size: larger;">congratulations your order will be delivered soon, pay upon delivery</p>

                    
                  </tbody>
                </table>
                
                
              </div>
            </div>
          </div>
          
        </div>
    
        
        
      </div>
{% endblock content %}